.cabecalho {
	margin: 10px;
	text-align: center;
	border:1px solid #000;
	background: LightSeaGreen;
	font-family: Arial, sans-serif;
}

.body_site{
	margin: 10px;
	text-align: center;
	border:1px solid #000;
	background: LightSeaGreen;
	font-family: Arial, sans-serif;
	
}

.rodape{
	margin: 10px;
	text-align: center;
	border:1px solid #000;
	background: LightSeaGreen;
	font-family: Arial, sans-serif;
}

.rodape p{
	font-size: 18px;
	
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
	background-color: grey;
	color: white;
	margin-left: 10px;
}


body{
	background-color: grey;
	
}