.cabecalho {
	margin: 10px;
	text-align: center;
	border:1px solid #000;
	background: LightSeaGreen;
	font-family: Arial, sans-serif;
}

.body_site{
	margin: 10px;
	text-align: center;
	border:1px solid #000;
	background: LightSeaGreen;
	font-family: Arial, sans-serif;
	
}

.rodape{
	margin: 10px;
	text-align: center;
	border:1px solid #000;
	background: LightSeaGreen;
	font-family: Arial, sans-serif;
}

.rodape p{
	font-size: 18px;
	
}

body{
	background-color: grey;
	
}