.cabecalho {
	margin: 10px;
	text-align: center;
	border:1px solid #000;
	background: LightSeaGreen;
	font-family: Arial, sans-serif;
}

.body_site{
	margin: 10px;
	text-align: center;
	border:1px solid #000;
	background: LightSeaGreen;
	font-family: Arial, sans-serif;
	
}

.rodape{
	margin: 10px;
	text-align: center;
	border:1px solid #000;
	background: LightSeaGreen;
	font-family: Arial, sans-serif;
}

.rodape p{
	font-size: 18px;
	
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
}

.primary {
    background-color: #007bff;
    color: white;
}

.secondary {
    background-color: #6c757d;
    color: white;
    margin-top: 10px;
}

/* Media Query para ajustar botões em telas menores */
@media screen and (max-width: 600px) {
    .button {
        padding: 8px 16px;
        font-size: 14px;
    }
}


body{
	background-color: grey;
	
}